/*  Start of navigation Code */
.topnav {
    background-color: none;
    overflow: hidden;
    border-radius: 2px;
}

.topnav a{
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 14px;
    text-decoration: none;
    border: solid;
    border-width: thin;
    border-radius: 5px;
    background-color: whitesmoke;
    border-color: slategrey;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

/* End of Navigation Code */

/* The Modal (Code) */
#myBtn {
background: whitesmoke;
cursor: pointer;
float: right; 
font-size: 20px;
color: slategray;
border: solid;
border-width: thin;
padding-top: 14px;
padding-bottom: 15px;
padding-left: 16px;
padding-right: 16px;
border-radius: 5px;
}

#myBtn:hover {
    background-color: #ddd;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.modal a:hover {
   background-color: slategray; 
}  
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* ! modal Link color */
  a {
      color: black
  }
 /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
